.text{
    font-size: 19px;
    font-family: Ubuntu-Medium, cursive;
    color: #4b47ff;
    transition: color 0.6s;
}
.text_div{
    width: max-content;
    display: block;
    margin: auto;
    margin-top: 0px;
    transition: margin-top 0.6s;
}
.text_out_div{
    width: 800px;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 0px;
}
.text_s{
    font-size: 15px;
    background-image: linear-gradient(45deg, #3882ff, #8c5aff);
    background-clip: text;
    color: transparent;
    font-family: Ubuntu-Medium, cursive;
    text-decoration: none;
}
.btn_div{
    background-color: #4b47ff;
    width: 250px;
    height: 0px;
    transition: height 0.6s;
}
.btn{
    width: 250px;
    overflow: hidden;
    height: 60px;
    margin-top: 40px;
    margin-left: calc(50% - 125px);
    background-color:white;
    cursor: pointer;
    border: solid;
    border-color: #4b89ff;
    border-width: 3px;
    border-radius: 20px;
    transition:box-shadow 0.6s;
}
.btn:hover{
    box-shadow: 0px 0px 30px 10px rgba(185, 212, 255, 0.75);
 }
.btn:hover .btn_div{
    height: 60px;
}
.btn:hover .text_div{
    margin-top: -60px;
}
.btn:hover .text{
    color: #ffffff;
}


@media screen and (max-width: 900px) {
    .text_out_div{
        width:calc(100% - 50px);
    }
    .btn:hover .btn_div{
        height: 0px;
    }
    .btn:hover .text_div{
        margin-top: 0;
    }
    .btn:hover .text{
        color: #4b47ff;
    }
    .btn:hover{
        box-shadow: 0px 0px 0px 0px rgba(185, 212, 255, 0);
    }
}



